.env
# Python
__pycache__/
*.pyc
*.pyd
*.pyo
.Python/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env
.vercel
.env*.local
node_modules/
/.next/
/out/
.DS_Store
*.pem
/build
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
next-env.d.ts
